<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>사원 목록</title>
</head>
<body>
<h1>사원 목록</h1>
<a href="/hr/insert">신규 사원 정보 입력</a>
<table border="1">
{% for emp in data %}
    <tr>
        <td><a href="/hr/update/{{emp.employee_id}}">{{emp.employee_id}}</a></td>
        <td>{{emp.first_name}} {{emp.last_name}}</td>
        <td>{{emp.email}}</td>
        <td>{{emp.phone_number}}</td>
        <td>{{emp.hire_date}}</td>
        <td>{{emp.job_id}}</td>
        <td>{{emp.salary}}</td>
        <td>{{emp.commission_pct}}</td>
        <td>{{emp.manager_id}}</td>
        <td>{{emp.department_id}}</td>
        <td><a href="/hr/delete/{{emp.employee_id}}">삭제</a></td>
    </tr>
{% endfor %}

{# % for row in data %}
<tr>
    {% for d in row %}
    <td>{{ d }}</td>
    {% endfor %}
    <td><a href="/hr/delete/{{row[0]}}">삭제</a></td>
</tr>
{% endfor % #}
</table>
</body>
</html>